.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000; 
  
  }
  .sidebar.collapsed {
    width: 64px; }
  @media (min-width: 768px) {
    .sidebar {
      top: 0px;
      bottom: 0px;
      transition: width 500ms; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
      width: 305px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar {
      width: 390px; } }
  @media (min-width: 1200px) {
    .sidebar {
      width: 460px; } }

.sidebar-left {
  left: 0; }
  @media (min-width: 768px) {
    .sidebar-left {
      left: 0px; } }

.sidebar-right {
  right: 0; }
  @media (min-width: 768px) {
    .sidebar-right {
      right: 10px; } }

.sidebar-tabs {
  bottom: 0;
  height: 100%;
  background-color: #fff; 
  }
  
  .sidebar-left .sidebar-tabs {
    left: 0; }
  .sidebar-right .sidebar-tabs {
    right: 0; }
  .sidebar-tabs, .sidebar-tabs > ul {
    position: absolute;
    width: 64px;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .sidebar-tabs > li, .sidebar-tabs > ul > li {
      width: 100%;
      height: 56px;
      color: #333;
      padding-bottom: 0px;
      font-size: 12pt;
      overflow: hidden;
      transition: all 80ms; }
      .sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
        color: #000;
         }
      .sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
        color: #fff;         
      }
      /*.sidebar-tabs > li.active > a, .sidebar-tabs > ul > li.active > a {
        filter: invert(1); 
        background-color: #2362a2;
    }*/

      .sidebar-tabs > li.disabled, .sidebar-tabs > ul > li.disabled {
        color: rgba(51, 51, 51, 0.4); }
        .sidebar-tabs > li.disabled:hover, .sidebar-tabs > ul > li.disabled:hover {
          background: transparent; }
        .sidebar-tabs > li.disabled > a, .sidebar-tabs > ul > li.disabled > a {
          cursor: default; }
      .sidebar-tabs > li > a, .sidebar-tabs > ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 56px;
        color: inherit;
        text-decoration: none;
        text-align: center; }
  .sidebar-tabs > ul + ul {
    bottom: 0; }

  .sidebar-content {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 1);
      overflow-x: hidden;
      overflow-y: auto; /* Scrollbar je ve výchozím stavu skrytý */
      transition: all 0.3s; /* Plynulý přechod při změně */
      
    }



    .sidebar-content:hover {
      overflow-y: auto; /* Scrollbar se zobrazí při najetí myší */
    }
    /* Styly pro scrollbar */
    .sidebar-content::-webkit-scrollbar {
      width: 8px; /* Šířka scrollbaru */
    }
    .sidebar-content::-webkit-scrollbar-track {
      background: #f0f0f0; /* Barva pozadí scrollbaru */
    }
    .sidebar-content::-webkit-scrollbar-thumb {
      background-color: #337fc4; /* Barva posuvníku */
      border-radius: 0px; /* Zaoblené rohy posuvníku */
    }
    
    .sidebar-content::-webkit-scrollbar-thumb:hover {
      background-color: #1d3c5d; /* Barva posuvníku při hoveru */
    }
    
    /* Pro levý a pravý sidebar zůstávají specifické úpravy */
    .sidebar-left .sidebar-content {
      left: 64px;
      right: 0;
    }
    
    .sidebar-right .sidebar-content {
      left: 0;
      right: 64px;
    }
    
    .sidebar.collapsed > .sidebar-content {
      overflow-y: hidden; /* V režimu "collapsed" zůstává scrollbar skrytý */
    }
    

.sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 20px; 
  }
  .sidebar-pane.active {
    display: block; }
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar-pane {
      min-width: 229px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-pane {
      min-width: 320px; } }
  @media (min-width: 1200px) {
    .sidebar-pane {
      min-width: 396px; } }

      .sidebar-header {
        position: sticky;
        top: 0;
        margin: -10px -20px 0;
        height: 56px;
        padding: 0 20px;
        line-height: 55px;
        font-size: 14.4pt;
        color: #2362a2;
        background-color: #E5EEF9;
        z-index: 1000; /* Nastaví vysoce prioritu pro zobrazení */
      }
  .sidebar-right .sidebar-header {
    padding-left: 0px; }

.sidebar-close {
  position:absolute;
  top: 0;
  right:0;
  width: 36px;
  height: 56px;
  text-align: center;
  cursor: pointer; 
  }
  .sidebar-left .sidebar-close {
    right: 0; }
  .sidebar-right .sidebar-close {
    left: 0; }

.sidebar-left ~ .sidebar-map {
  margin-left: 64px; }
  @media (min-width: 768px) {
    .sidebar-left ~ .sidebar-map {
      margin-left: 0; } }

.sidebar-right ~ .sidebar-map {
  margin-right: 64px; }
  @media (min-width: 768px) {
    .sidebar-right ~ .sidebar-map {
      margin-right: 0; } }

.sidebar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65); }
  .sidebar.leaflet-touch {
    box-shadow: none;
    border-right: 0px solid rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    .sidebar {
      border-radius: 0px; }
      .sidebar.leaflet-touch {
        border: 0px solid rgba(0, 0, 0, 0.2); } }

@media (min-width: 768px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    transition: left 500ms; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 315px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 400px; } }

@media (min-width: 1200px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 470px; } }

@media (min-width: 768px) {
  .sidebar-left.collapsed ~ .sidebar-map .leaflet-left {
    left: 64px; } }

@media (min-width: 768px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    transition: right 500ms; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 315px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 400px; } }

@media (min-width: 1200px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 470px; } }

@media (min-width: 768px) {
  .sidebar-right.collapsed ~ .sidebar-map .leaflet-right {
    right: 64px; } }

    
    
#sidebar img {
      max-width: 100%; /* Obrázek se přizpůsobí šířce sidebaru */
      height: auto;
  }



.sidebar-tabs::before {
  content: '';
  position: absolute;
  top: 56px; /* Začne 56px od vrchu */
  right: 0;
  width: 2px;
  height: calc(100% - 56px); /* Vysoká na zbytek výšky */
  background-color: #E7E7E7; /* Barva linie */
}