@font-face {
    font-family: 'Roboto'; 
    src: url('../fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}


html, body {
    height: 100%;
    margin: 0;
}

.leaflet-container{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}


body {
    
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 10pt "Roboto";
}

p {
    font-family: 'Roboto';
    font-style: normal;
    color: #000000;
}

h1, h3, label {
    font-family: 'Roboto';
}

/* Kdybych htěl někde zrušit azeret tak oddělat to p a používat tuto class */
.lorem {
    font-family: 'Roboto';
    font-style: normal;
    color: #000000;
}

.menu-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding:5px;
    padding-top: 6px;
    
}
  


.bold {
    font-weight: bold;
}

.legend, .sluzba-status { text-align: left;
    font-family: 'Roboto';
    line-height: 18px;
    padding: 12px 28px;
    color: #242424; } 

.legend i { 
    width: 36px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;}


/* styly z designsystem*/

label {
    font-size: 1.2rem;
    line-height: 150%;
    font-weight: 400;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;

}

.checkbox {
    width: 15px;
    height: 15px;
    display: inline-block;
    color:  #000000;;
    cursor: pointer;
    box-sizing: border-box;
}

.radio{
    width:15px;
    height: 15px;
    border-width: 2px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 50%;
    border: 3px solid #ffffff;
    cursor: pointer;
}

radio input:checked{
    background: #2362a2;
    box-shadow: 0 0 0 2px #2362a2;
}

button{
    font-family: 'Roboto';
    margin: 25px 25px 0px 0px;
    font-size: 1.2rem;
    font-weight: bold;
    color:#ffffff;
    height:2rem  ;
    padding:1em;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #2362a2;
    text-align: center;
    cursor: pointer;
    border-radius: .5rem;
}


.schovaniLegendy{
    margin:0px 10px 0px 0px;
    width: 15px;
}

.hidden {
    display: none;
}

.expandable{
    cursor: pointer;
}

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
    color: #2362a2; 
    box-shadow: none !important;
}



/* Vytvoření výjimky pro zoom tlačítka */
.leaflet-control-zoom {
    position: absolute !important; /* Vynutí absolutní pozici pro zoom */
    bottom: 18px; /* Vzdálenost od spodního okraje */
    right: 0px; /* Vzdálenost od pravého okraje */
}

.leaflet-control-scale {
    position: absolute !important; /* Vynutí absolutní pozici pro zoom */
    bottom: 23px; /* Vzdálenost od spodního okraje */
    right: 52px; /* Vzdálenost od pravého okraje */
}

.map-layer-menu {
    display: none; /* Skrytí menu na začátku */
    position: absolute;
    top: 101px;
    right: 10px;
    background-color: transparent; /* Průhledné pozadí */
    padding: 00px;
    
    border-radius: 5px;
    z-index: 1000;
}

.map-layer-menu button {
    display: block;
    margin: 5px 0;
    width: 100%;
    background-color: #2362a2; /* Barva tlačítek */
    color: white;
    border: none;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: right; /* Horizontální zarovnání textu */
    line-height: 11px; /* Vertikální zarovnání textu, odpovídá výšce tlačítka */
}

.map-layer-menu button:hover {
    background-color: #f4f4f4;
    color: #2362a2;
}

.control-button {
    position: absolute;
    top: 60px; /* 70px od horního okraje */
    right: 10px; /* 10px od pravého okraje */
    background-color: #2362a2; /* Barva hlavního tlačítka */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
  
    z-index: 1001; /* Zajištění, že tlačítko bude nad mapou */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    margin: 0; /* Odstraní margin */
}

.control-button:hover{
    background-color: #ffffff; /* Barva hlavního tlačítka */
}

.control-button:hover img{
    filter: invert(1);
}

.map-layer-menu button.active {
    background-color: #f4f4f4; /* Barva tlačítka při aktivní vrstvě */
    color: #2362a2; /* Barva textu */
}

/* Efekt pro hlavní tlačítko, když je aktivní (tlačítka 1, 2, 3 jsou zobrazená) */
.control-button.active {
    background-color: #ffffff; /* Barva hlavního tlačítka v aktivním stavu */
}

.control-button.active img {
    filter: invert(1); /* Změní barvu ikony v aktivním stavu */
}

/*Tooltip*/
/* Tooltip container */
/* Styl pro tooltip */
.tooltip {
    position: relative;
    cursor: pointer; /* Ukazatel ruky při najetí */
}


/* Skrytý tooltip */
.tooltip-right-dlouhy::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 110%; /* Posune tooltip doprava */
    top: 50%;
    transform: translateY(-50%);
    background: #2362a2;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px ;
    font-weight: normal;
    width:150px;
    text-align: justify;
    line-height: 1.4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.tooltip-left-dlouhy::after {
    content: attr(data-tooltip);
    position: absolute;
    right: 110%; /* Posune tooltip doprava */
    top: 50%;
    transform: translateY(-50%);
    background: #2362a2;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px ;
    font-weight: normal;
    width:150px;
    text-align: justify;
    line-height: 1.4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}


/* Tooltip vlevo */
.tooltip-right-kratky::after {
    white-space:pre;
    content: attr(data-tooltip);
    position: absolute;
    left: 110%; /* Posune tooltip doleva */
    top: 50%;
    transform: translateY(-50%);
    background: #2362a2;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    max-width: 150px;
    width:auto;
    line-height: 1.4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.tooltip-left-kratky::after {
    white-space:pre;
    content: attr(data-tooltip);
    position: absolute;
    right: 110%; /* Posune tooltip doleva */
    top: 50%;
    transform: translateY(-50%);
    background: #2362a2;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    max-width: 150px;
    width:auto;
    line-height: 1.4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}


/* Zobrazení tooltipu při najetí */
.tooltip-right-dlouhy:hover::after,
.tooltip-left-dlouhy:hover::after,
.tooltip-right-kratky:hover::after,
.tooltip-left-kratky:hover::after {
    opacity: 1;
    visibility: visible;
}