@font-face {
    font-family: 'Roboto'; 
    src: url('../fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}


html, body {
    height: 100%;
    margin: 0;
}

.leaflet-container{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}


body {
    
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 10pt "Roboto";
}

#map {
    background:#E7E7E7;
}

p, li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */
    letter-spacing: 0.2px;
    
    color: #4F4F4F;
}

.p-gray{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.0125em;
    color: #6D6D6D;
    margin-bottom:0;
}



.sidebar ul li a:link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */
    letter-spacing: 0.2px;
    
    color: #4F4F4F;

}

.sidebar a:link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    letter-spacing: 0.0125em;
    text-decoration-line: underline;
    color: #1E5086;  
}

.sidebar a:visited {
    color: purple;
  }

h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    letter-spacing: 0.0125em;
    
    color: #1E5086; 
}

h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    letter-spacing: 0.0125em;
    color: #262626;

}

.h3-black{
    color: #262626;

}

h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 0.0125em;
    color: #1E5086;
 
}

h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    letter-spacing: 0.0125em;
    color: #262626;
}

/* Kdybych htěl někde zrušit azeret tak oddělat to p a používat tuto class */
.lorem {
    font-family: 'Roboto';
    font-style: normal;
    color: #000000;
}

.menu-icon-arrow{
    width: 16px;
    height: 16px;
    margin:0 auto;
    flex: none;
    order: 1;
    flex-grow: 0;
}    

.menu-icon-lev{
    margin-top:6px;
    width: 26px;
    height: 26px;
    display: inline-block;
    padding:5px;
    background-color: #E5EEF9;

}

.menu-icon {
    margin-top: 7px;
    padding: 7px;
    width: 26px;
    height: 26px;
    display: inline-block;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    transition: background-color 0.3s;
}





.svg-path {
    transition: fill 0.3s;
}

/* Aktivní stav */
a:hover .menu-icon, li.active .menu-icon {
    background-color: #2362a2;
}

a:hover .svg-path, li.active .svg-path {
    fill: white;
}




.bold {
    font-weight: bold;
}

.legend, .sluzba-status { text-align: left;
    font-family: 'Roboto';
    line-height: 18px;
    padding: 0px 28px 12px 28px;
    color: #242424; } 

.legend i { 
    width: 36px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;}


/* styly z designsystem*/

label {
    /*font-size: 1.2rem;
    line-height: 150%;
    font-weight: 400;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;*/
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    display: flex;
    align-items: center;
    letter-spacing: 0.0125em;
    color: #262626;
    
}

.checkbox {
    width: 16px;
    height: 16px;
    display: inline-block;
    color:  #000000;;
    cursor: pointer;
    box-sizing: border-box;
    border: 3px solid gray;
}

input[type="radio"] {
    appearance: none; /* Skryje defaultní vzhled */
    width: 16px;
    height: 16px;
    min-width: 16px; /* Zajistí, že šířka neklesne pod 16px */
    min-height: 16px; /* Zajistí, že výška neklesne pod 16px */
    max-width: 16px; /* Zajistí, že šířka nepřesáhne 16px */
    max-height: 16px; /* Zajistí, že výška nepřesáhne 16px */
    border: 3px solid gray;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 0; /* Odstraní výchozí margin */
    vertical-align: middle; /* Vertikální zarovnání */
    box-sizing: border-box; /* Zajistí, že padding a border jsou součástí celkové šířky/výšky */
}

input[type="radio"]:checked {
    border-color: #2362a2; /* Barva obrysu */
    background-color: white;
}

input[type="radio"]:checked::after {
    content: "";
    width: 8px;
    height: 8px;
    background: #2362a2; /* Barva aktivního bodu */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-container {
    display: flex;
    align-items: center; /* Zarovnání na střed vertikálně */
    gap: 8px; /* Mezery mezi radio buttonem a label */
    padding-top:10px;
    padding-bottom:10px;
    
}


.radio-container label {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    display: flex; /* Ujistí se, že radio a text budou vedle sebe */
    align-items: center;
    gap: 8px; 
    cursor:pointer;
    
}

input[type="checkbox"] {
    appearance: none; /* Skryje defaultní vzhled */
    width: 18px;
    height: 18px;
    min-width: 18px; /* Zajistí, že šířka neklesne pod 16px */
    min-height: 18px; /* Zajistí, že výška neklesne pod 16px */
    max-width: 18px; /* Zajistí, že šířka nepřesáhne 16px */
    max-height: 18px; /* Zajistí, že výška nepřesáhne 16px */
    border: 3px solid gray;
    border-radius: 3px; /* Hranatý tvar checkboxu */
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 0; /* Odstraní výchozí margin */
    vertical-align: middle; /* Vertikální zarovnání */
    box-sizing: border-box; /* Zajistí, že padding a border jsou součástí celkové šířky/výšky */
    background-color: white;
}

input[type="checkbox"]:checked {
    border-color: #2362a2; /* Barva obrysu */
    background-color: #2362a2; /* Modrá barva pozadí při zaškrtnutí */
}

input[type="checkbox"]:checked::after {
    content: "";
    width: 4px; /* Menší šířka fajfky */
    height: 7px; /* Menší výška fajfky */
    border: solid white; /* Bílá barva fajfky */
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.checkbox-container {
    display: flex;
    align-items: center; /* Zarovnání na střed vertikálně */
    gap: 5px; /* Zmenšená mezera mezi checkboxem a labelem */
    padding-top: 10px;
    padding-bottom: 10px;
}

.checkbox-container label {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    cursor:pointer;
}


.button_rozklik{
    font-family: 'Roboto';
    margin: 25px 25px 0px 0px;
    font-size: 1.2rem;
    font-weight: bold;
    color:#ffffff;
    height:2rem  ;
    padding:1em;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #2362a2;
    text-align: center;
    cursor: pointer;
    border-radius: .5rem;
}

.gov-button{
/* Gov Button */
display: inline-flex;
vertical-align: middle;
justify-content: center;
align-items: center;
/* Auto layout */
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 6px;
height: 24px;
border: 1px solid #4F4F4F;
border-radius: 8px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
cursor: pointer;
background-color: white;

/*font*/
font-family: 'Roboto';
font-style: normal;
font-weight: 550;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */
letter-spacing: 0.2px;
}

.gov-button-blue{
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    /* Auto layout */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 6px;
    height: 24px;
    border: 1px solid #1E5086;
    border-radius: 8px;
    color: #1E5086;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    background-color: white;
    
    /*font*/
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 550;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    letter-spacing: 0.2px;
}

h3.expandable {
    position: relative;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.schovaniLegendy {
    margin: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: white;
    cursor: pointer;
    border-radius: .5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.4rem;
}

.icon-sipka {
    width: 100%;
    height: 100%;
}

.skryta {
    display: none;
}
.button-ikona{
    width: 12px; 
    height: 12px; 
   
    stroke-width:2px;
}

.hidden {
    display: none;
    overflow: hidden;
}

.expandable{
    cursor: pointer;
}

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
    color: #2362a2; 
    box-shadow: none !important;
}



/* Vytvoření výjimky pro zoom tlačítka */
.leaflet-control-zoom {
    position: absolute !important; /* Vynutí absolutní pozici pro zoom */
    bottom: 18px; /* Vzdálenost od spodního okraje */
    right: 0px; /* Vzdálenost od pravého okraje */
}

.leaflet-control-scale {
    position: absolute !important; /* Vynutí absolutní pozici pro zoom */
    bottom: 23px; /* Vzdálenost od spodního okraje */
    right: 52px; /* Vzdálenost od pravého okraje */
}

.map-layer-menu {
    display: none; /* Skrytí menu na začátku */
    overflow:hidden;
    position: absolute;
    top: 111px;
    right: 10px;
     /* Průhledné pozadí */
    padding: 00px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    border-radius: 8px;
    z-index: 1000;
}

.map-layer-menu button {
    
    display: block;
    margin: 0 0;
    width: 100%;
    background-color: #fff; /* Barva tlačítek */
    color: #2362a2;
    border: none;
    padding: 10px 12px 10px 12px;
    font-size: 12px;
    cursor: pointer;
    
    text-align: center; /* Horizontální zarovnání textu */
    line-height: 11px; /* Vertikální zarovnání textu, odpovídá výšce tlačítka */
    
}

.map-layer-menu button:hover {
    background-color: #E5EEF9;
    color: #2362a2;
}

.control-zoom-button, .control-button {
    position: absolute;
    background-color: white; /* Barva hlavního tlačítka */
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    text-align: center;
    /*border: 2px solid #E7E7E7;*/
    z-index: 1001; /* Zajištění, že tlačítko bude nad mapou */
    border: 1px solid #E7E7E7;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    margin: 0; /* Odstraní margin */

}

.control-button {
    top: 60px; /* 70px od horního okraje */
    right: 10px; /* 10px od pravého okraje */
}

.control-button:hover{
    background-color: #ffffff; /* Barva hlavního tlačítka */
}

/*.control-button:hover img{
    filter: invert(1);
}*/

.map-layer-menu button.active {
    background-color: #E5EEF9; /* Barva tlačítka při aktivní vrstvě */
    color: #2362a2; /* Barva textu */
}

/* Efekt pro hlavní tlačítko, když je aktivní (tlačítka 1, 2, 3 jsou zobrazená) */
.control-button.active {
    background-color: #ffffff; /* Barva hlavního tlačítka v aktivním stavu */
}

/*.control-button.active img {
    filter: invert(1); 
}*/

/*Tooltip*/
/* Tooltip container */
/* Styl pro tooltip */
.tooltip {
    position: relative;
    cursor: pointer; /* Ukazatel ruky při najetí */
    z-index:1001;
}




/* Skrytý tooltip */
.tooltip-right-dlouhy::after, .tooltip-left-dlouhy::after{
    content: attr(data-tooltip);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;   

    font-weight: normal;
    width:100px;
    text-align: left;
    line-height: 1.4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.tooltip-left-dlouhy::after, .tooltip-left-kratky::after  {
    right: 110%; /* Posune tooltip doprava */  
}
.tooltip-right-dlouhy::after, .tooltip-right-kratky::after{
    left: 110%;
}

/* Tooltip vlevo */
.tooltip-right-kratky::after {
    white-space:pre;
    content: attr(data-tooltip);
    position: absolute;
    left: 110%; /* Posune tooltip doleva */
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;

    font-weight: normal;
    max-width: 150px;
    width:auto;
    line-height: 1.4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    
}

.tooltip-left-kratky::after {
    white-space:pre;
    content: attr(data-tooltip);
    position: absolute;
    right: 110%; /* Posune tooltip doleva */
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;

    font-weight: normal;
    max-width: 150px;
    width:auto;
    line-height: 1.4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.tooltip-left-dlouhy::after, .tooltip-left-kratky::after, .tooltip-right-dlouhy::after, .tooltip-right-kratky::after{
    background: #F6F6F6;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    color:#4F4F4F;
    font-size: 10px;
}


/* Zobrazení tooltipu při najetí */
.tooltip-right-dlouhy:hover::after,
.tooltip-left-dlouhy:hover::after,
.tooltip-right-kratky:hover::after,
.tooltip-left-kratky:hover::after {
    opacity: 1;
    visibility: visible;
  
}

/*tooltip nad mapou*/
#custom-tooltip {
    position: absolute;
    background: #F6F6F6;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    color:#4F4F4F;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    z-index: 99999; /* Tooltip bude nad mapou */
    pointer-events: none; /* Zabrání kolizi s myší */
}


.input{
    display: block;
    margin-top: 20px;
    text-align: left;
}


.meritko-export {
    position: absolute !important;
    left: 50%;
    bottom: 0px; /* 10px od spodního okraje */
    transform: translateX(-50%) scale(1.5); /* Zarovná na střed a zvětší */

}

/*sticky části pod sidebar-headerem*/
.sidebar-sticky{
    position:sticky;
    top:56px;
    background-color:white;
    z-index:200000;
    padding-top:16.6px;
    padding-bottom:10px;
    border-bottom: 1px solid #E7E7E7;
    padding-right:10px;
}

.legend-containerKraj, .legend-container2, .legend-containerEU, .legend-body, .info-texty{

    border-bottom: 1px solid #E7E7E7;
}

.info-texty-popup{
    margin-top: 10px;
    margin-bottom:7px;
    padding-bottom:3px;
    border-bottom: 1px solid #E7E7E7;
}

.expand-sidebar {
    position: absolute;
    top: 0px;
    left: 64px;
    width: 26px;
    height: 56px;
    background: #E5EEF9;
    border-radius: 0 8px 8px 0;
    display: flex;
    cursor: pointer;
    z-index: 20000;
}

.expand-arrow {
    width: 16px;
    height: 56px;
    padding-left: 5px;
}

.popup-container {
    text-align: left; /* Celkově zarovnané doleva */
}

.popup-row {
    display: flex;
    align-items: center; /* Vertikální zarovnání ikon a textu */
    gap: 8px; /* Mezera mezi ikonou a textem */
    justify-content: left; /* Zarovnání ikon a textu doleva */
    margin-bottom: 3px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    letter-spacing: 0.2px;

    color: #4F4F4F;
}

.popup-icon {
    width: 14px; /* Nastav stejnou velikost ikon */
    height: 14px;
}

.popup-title {
    display: flex;
    align-items: center; /* Vertikální zarovnání */
    gap: 8px;
    margin-top: 16px; /* Přidání mezery nad "Úřední hodiny" */
    justify-content: left; 
}

.popup-title h4 {
    margin: 0;
}

.popup-hours {
    text-align: left; /* Zarovná úřední hodiny doleva */
    padding-left: 23px; /* Posunutí, aby nebyly moc u kraje */
    margin-top: 0 !important;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    letter-spacing: 0.2px;

    color: #4F4F4F;
}

.popup-container h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    letter-spacing: 0.0125em;

    color: #262626;
}

.popup-container h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    letter-spacing: 0.0125em;

    color: #262626;
}

#defaultText{
    margin-bottom:10px;
    margin-top:0px
}

.p-infoIndex{
    margin-top:0;
}

.export-nazev{
    border-radius: 8px;
    height:24px;
}

.menu{
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    left:12px;
    width:40px;
    flex-direction: column;
}

.menu button {
    background: none;
    border: none;
    cursor: pointer;
    padding:6px;
    width: 100%;
    text-align: center;
    color: #2362a2;
}

.menu button:hover {
    background: #e5eef9;
    
}

.menu button.active {
    background-color: #E5EEF9; /* Barva tlačítka při aktivní vrstvě */
   
}

.menu-icon-jazyk {
    display: inline-block;
    align-items: center; /* Vertikální zarovnání na střed */
    justify-content: center; /* Zarovnání obsahu na střed */
    /* Mezera mezi textem a ikonou */
    width: 40px;
    height: 40px;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    transition: background-color 0.3s;
    color: #2362a2;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    line-height: 40px;

}

a:hover .menu-icon-jazyk{
    background-color: #2362a2;
    color: white;
}


.menu-icon-jazyk svg {
    width: 12px;
    height: 12px;
    vertical-align: middle;
        
}

ol, ul{
    padding-left:15px;
}

/*tučně čísla v ol*/
ol li::marker {
    font-weight: bold;
}

/*odsazení placeholderu v inputu*/

#mapTitle{
    padding-left: 10px;
}