:root{
	--primary-color: #368537; /*color: var(--primary-color)*/
	--secondary-color: #E8F5E4; /*color: var(--secondary-color)*/
	--nadpisy-legenda-color: #2A6B2D;	
	--sidebar-header-color: #4F4F4F; /*color: var(--sidebar-header-color)*/
	--url: #1E5086; /*color: var(--url)*/
}